@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;1,400;1,600&family=Oswald:wght@200&display=swap');

@import "foundation-settings";

@import "foundation";

@include foundation-everything(true);

dd {
    margin-bottom: 0.5rem;
}

.two-column-list {
    column-count: 2;
}

.cropped-preview-notice {
    position: absolute;
    padding: 0.5em;
    background-color: map-get($schaefer-palette, 'dark-violet');
    color: white;
}


@media screen {

    @import "screen";

    .item.resource.show .property-list .dl-def:hover {

        background-color: rgba($color: #000000, $alpha: 0.1);

    }

    header {

        background-color: map-get($schaefer-palette, "dark-violet");

        margin-bottom: 3rem;

        .top-bar {

            color: map-get($schaefer-palette, "pale-yellow");

            a { color: map-get($schaefer-palette, "pale-yellow"); }

        }

    }

}

@media screen and (min-width:800px) {
    @import "desktop";
}
