@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;1,400;1,600&family=Oswald:wght@200&display=swap');

@import "foundation-settings";

@import "foundation";

@include foundation-everything(true);

dd {
    margin-bottom: 0.5rem;
}

.t-two-column-list {
    column-count: 2;
}

.t-copy-button {
    visibility: hidden;
}

.t-cropped-preview-notice {
    position: absolute;
    padding: 0.5em;
    background-color: map-get($schaefer-palette, 'dark-violet');
    color: white;
}


@media screen {

    @import "screen";

    .item.resource.show .property-list .dl-def:hover {

        background-color: rgba($color: #000000, $alpha: 0.1);

        .t-copy-button {
            visibility: visible;
        }

    }

    header {

        background-color: map-get($schaefer-palette, "dark-violet");

        margin-bottom: 3rem;

        .top-bar {

            color: map-get($schaefer-palette, "pale-yellow");

            a { color: map-get($schaefer-palette, "pale-yellow"); }

        }

    }

    nav.pagination {

        padding: 2em;

        background-color: map-get($schaefer-palette, 'gold-yellow');

        input.page-input-top {

            display: inline-block;
            width: 3em;

        }

        form { display: inline-block; }

    }

    form.sorting {

        padding: 2em;

        background-color: map-get($schaefer-palette, 'gold-yellow');

    }

    body.browse.item-set {

        ul.resource-list {

            margin-left: 0;

            list-style-type: none;

            li {

                display: inline-block;
                padding: 1em;

                background-color: map-get($schaefer-palette, 'gold-yellow');

            }

        }

    }

}

@media screen and (min-width:800px) {
    @import "desktop";
}
