@import "foundation-settings";

@import "foundation";

@include foundation-everything(true);

@media screen {
    @import "screen";

    header {

        background-color: map-get($schaefer-palette, "dark-violet");

        margin-bottom: 3rem;

        .top-bar {

            color: map-get($schaefer-palette, "pale-yellow");

            a { color: map-get($schaefer-palette, "pale-yellow"); }

        }

    }

}

@media screen and (min-width:800px) {
    @import "desktop";
}
